
/********************************************
************* GENERAL SETTINGS **************
*********************************************/

body{
    background-image        : url("../img/pokemon-forest.jpg");
    background-repeat       : no-repeat;
    background-size         : cover;
    background-position     : 25% 28%;
}

.grid{
    display                 : flex;
    justify-content         : center;
    flex-wrap               : wrap;
    height                  : 300px;
    width                   : 400px;
}

.container-sm{
    max-width               : 400px;
    margin                  : auto;
    text-align              : center;
}

.container{
    max-width               : 800px;
    margin                  : auto;
    text-align              : center;
}

/********************************************
******************* TYPOS *******************
*********************************************/

/********************************************
******************* HEADER ******************
*********************************************/

