
/********************************************
************* GENERAL SETTINGS **************
*********************************************/


body{
    background-image        : url("../img/pokemon-forest.jpg");
    background-repeat       : no-repeat;
    background-size         : cover;
    background-attachment   : fixed;
    background-position     : 10% 9%;
    font-size               : 15px;
}

.container{
    max-width               : 800px;
    margin                  : auto;
    text-align              : center;
    margin-bottom           : 100px;
}

.container-sm{
    max-width               : 400px;
    margin                  : auto;
    text-align              : center;
}

.hidden{
    display                 : none;
}

/********************************************
******************* TYPOS *******************
*********************************************/

/*
    font-family             : 'Roboto Condensed', sans-serif;
    font-family             : 'Bangers', cursive;
*/

h1{
    font-family             : 'Bangers', cursive;
   
}

h2, h3, h4, p, button{
    font-family             : 'Roboto Condensed';
    letter-spacing          : 0.5px;

}

/********************************************
******************* HEADER ******************
*********************************************/

header{
    margin-bottom           : 30px;
}

h1{
    letter-spacing          : 2px;
}

header > img{
    width                   : 30%;
    margin-top              : 40px;
}

header div:first-of-type{
    display                 : flex;
    justify-content         : center;
    align-items             : center;
    
}

header div:first-of-type img{
    width                   : 25px;
    height                  : 25px;
}

header div:first-of-type img:first-of-type{
   margin-right             : 5px;
}

header div:first-of-type img:nth-of-type(2){
    margin-left             : 5px;
}

/********************************************
******************** MAIN *******************
*********************************************/

.grid{
    display                 : flex;
    justify-content         : center;
    flex-wrap               : wrap;
    height                  : 300px;
    width                   : 400px;
    margin-bottom           : 20px;
}

button{
    background              : transparent;
    border                  : none;
    padding                 : 24px 30px;
    margin                  : 20px 0 0 0;
    color                   : #ffcb00;
    text-transform          : uppercase;
    font-weight             : bold;
    letter-spacing          : 2px;
    position                : relative;
    transition              : 0.5s;
    overflow                : hidden;
}

button:hover{
    background              : #ffcb00;
    color                   : #050801;
}

button span{
    position                : absolute;
    display                 : block;
}

button span:nth-of-type(1){
    top                     : 0;
    left                    : 0;
    width                   : 100%;
    height                  : 2px;
    background              : linear-gradient(90deg, transparent, #ffcb00);
    animation               : animationOne 1s linear infinite;
}

@keyframes animationOne{
    0% {
        left                : -100%
    }

    50%, 100%{
        left                : 100%;
    }
}

button span:nth-of-type(2){
    top                     : -100%;
    right                   : 0;
    width                   : 2px;
    height                  : 100%;
    background              : linear-gradient(180deg, transparent, #ffcb00);
    animation               : animationTwo 1s linear infinite;
    animation-delay         : 0.25s;
}

@keyframes animationTwo{
    0% {
        top                 : -100%
    }

    50%, 100%{
        top                 : 100%;
    }
}

button span:nth-of-type(3){
    bottom                  : 0;
    right                   : 0;
    width                   : 100%;
    height                  : 2px;
    background              : linear-gradient(270deg, transparent, #ffcb00);
    animation               : animationThree 1s linear infinite;
    animation-delay         : 0.50s;
}

@keyframes animationThree{
    0% {
        right               : -100%
    }

    50%, 100%{
        right               : 100%;
    }
}

button span:nth-of-type(4){
    bottom                  : -100%;
    left                    : 0;
    width                   : 2px;
    height                  : 100%;
    background              : linear-gradient(360deg, transparent, #ffcb00);
    animation               : animationFour 1s linear infinite;
    animation-delay         : 0.75s;
}

@keyframes animationFour{
    0% {
        bottom              : -100%
    }

    50%, 100%{
        bottom              : 100%;
    }
}

/********************************************
****************** FOOTER *******************
*********************************************/

footer{
    background              : rgb(31, 31, 31);
    color                   : white;
    padding                 : 1px 0 1px 0;  
    position                : fixed;
    bottom                  : 0;
    width                   : 100%;
    height                  : 55px;
}

/********************************************
*************** MEDIA QUERIES ***************
*********************************************/


/* For mobile phones (except iPhone 5/5SE) : */
@media only screen and (max-width: 768px) {

    /********************************************
    ************* GENERAL SETTINGS **************
    *********************************************/      

    .container{
        max-width               : 350px;
        margin                  : auto;
        text-align              : center;
        margin-bottom           : 100px;
    }

    .container-sm{
        max-width               : 300px;
        margin                  : auto;
        text-align              : center;
    }

    /********************************************
    ******************* HEADER ******************
    *********************************************/    

    header div:first-of-type img{
        display                  : none;
    }

    /********************************************
    ********************* MAIN ******************
    *********************************************/   

    .grid{
        display                 : flex;
        justify-content         : center;
        flex-wrap               : wrap;
        height                  : 100%;
        width                   : 100%;
        margin-bottom           : 20px;
    }

    .grid img{
        width                   : 70px;
        height                  : 70px;
    }
}

/* For iPhone 5/5SE : */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px){

    /********************************************
    ******************* HEADER ******************
    *********************************************/ 

    header div:first-of-type img{
       display                  : none;
    }

    header{
        margin                   : 0; 
    }

    header h1{
        font-size                : 19px;
    }

    /********************************************
    ********************* MAIN ******************
    *********************************************/ 

    main h2{
        margin-top                 : 10px; 
        font-size                  : 18px;
    }

}